.page_container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  height: 98%;
}

.settings_section_header_login_warning {
  font-size: 1rem;
  color: red;
  margin-left: 1em;
  font-weight: 500;
}

.settings_date_picker {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.settings_chip_container {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.settings_chip_paper {
  display: flex;
  overflow-x: auto;
  list-style: none;
  padding: 0.5em;
  margin: 0;
  flex-grow: 1;
}

.settings_chip_paper > p {
  margin-block: 0.4em;
}

.settings_chip_button {
  flex-shrink: 0;
}

.settings_save_load_button{
  align-self: stretch;
  flex-shrink: 0;
}

.settings_name_container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin: 10px 0px;
}

.chart_container {
  position: relative;
  flex-grow: 1;
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dialog_color_button {
  margin-top: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.dialog_transparency_slider {
  display: flex;
  gap: 10px;
  align-items: center;
}

.load_dialog_section {
  display: flex;
  gap: 1em;
  height: 100%;
}

.load_dialog_group {
  width: 300px;
  height: 100%;
}

.load_dialog_delete {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  .load_dialog_group {
    min-width: 40px;
  }
}
