.page_container {
  display: flex;
  height: 100%;
}

.page_title {
  margin-block-end: 0.2em;
}

.page_subtitle {
  margin-block-start: 0.2em;
  margin-block-end: 0.4em;
}

.page_subtitle > a {
  color: #1976d2;
}

.charts_section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100vh;
  overflow: auto;
  padding: 0 1em;
}

.chart_controller {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart_controller_buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.chart_controller_switch > label {
  margin-left: 0;
}

.single_chart_section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.single_chart_section > p {
  margin-block-end: 0.2em;
}

.multi_charts_section {
  display: flex;
  height: 35vh;
}

.multi_charts_section > div {
  flex-grow: 1;
  width: 50%;
}

.chart_container {
  position: relative;
  flex-grow: 1;
}

.chart_no_data_text{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-70%, -50%);
  font-size: 1em;
  color: #999;
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sidebar {
  width: 240px;
  max-height: 100vh;
}

@media screen and (max-width: 800px) {
  .multi_charts_section {
    flex-direction: column;
  }

  .multi_charts_section > div {
    width: 100%;
  }

  .sidebar {
    display: none;
  }
}
