.latest_data_container {
  padding: 0 10px;
  height: calc(100% - 13em);
}

.latest_data_header {
  margin: 6px;
}

.latest_data_header_date {
  font-size: calc(0.5rem + 0.25vw);
  color: #999;
  margin-left: 6px;
}

.latest_data_header_inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.latest_data_list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: auto;
  max-height: 100%;
}

.latest_data_item {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  margin: 6px;
  padding: 0.6em 0;
}

.latest_data_item:hover {
  transform: scale(1.03);
}

.latest_data_item > h4 {
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0.2em;
}

.latest_data_item p {
  text-align: center;
  margin-block-start: 0.2em;
  margin-block-end: 0;
}

.latest_data_item_values {
  display: flex;
  justify-content: space-evenly;
}
