.page_container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  height: 100vh;
  overflow: auto;
}

.locations_group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1em;
}

.locations_card {
  flex-grow: 1;
  cursor: pointer;
  transition: 0.3s;
}

.location_card_content {
  padding: 8px 16px !important;
}

.locations_card:hover {
  transform: scale(1.03);
}

.table_container {
  width: 100%;
  flex-grow: 1;
}

.your_locations_tab {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.new_location_panel {
  flex-basis: 50%;
}

.your_locations_container {
  flex-basis: 50%;
}

.locations_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location_card_action_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 4px;
  height: 100%;
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
