.page_container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  height: 100vh;
  overflow: auto;
}

.single_chart_section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.single_chart_section > p {
  margin-block-end: 0.2em;
}

.multi_charts_section {
  display: flex;
  height: 35vh;
}

.multi_charts_section > div {
  flex-grow: 1;
  width: 50%;
}

.chart_container {
  position: relative;
  flex-grow: 1;
}

.sim_cards_container {
  display: flex;
  gap: 20px;
}

.sim_card_full_container {
  flex-grow: 1;
  flex-basis: 50%;
}

.sim_card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sim_card {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  transition: 0.3s;
  cursor: pointer;
}

.sim_card_content {
  padding: 8px 16px !important;
}

.sim_card_content > p {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

.sim_card:hover {
  transform: scale(1.03);
}

.sim_card_actions {
  align-self: center;
  margin-right: 10px;
}
